/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f8f5f0 !default;
$gray-300: #dfd7ca !default;
$gray-400: #ced4da !default;
$gray-500: #98978b !default;
$gray-600: #8e8c84 !default;
$gray-700: #495057 !default;
$gray-800: #3e3f3a !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #325d88 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f47c3c !default;
$yellow:  #ffc107 !default;
$green:   #93c54b !default;
$teal:    #20c997 !default;
$cyan:    #29abe0 !default;

// Base document colors
// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $cyan; // navbar foreground elements
$navbar-hl: $indigo; // highlight color when hovering over navbar links
$body-bg: $gray-100; // page background 
$body-color: $black; // page text 
$footer-bg: $gray-900; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $gray-400; // inline code background color
$code-color: $purple; // inline code text color